/* header.component.scss */

:host {
  display: block;
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #ffffff;
  color: #333;
  height: 65px;
  padding: 0 30px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.user-info {
  font-weight: 600;
  font-size: 1rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Botões verdes */
.btn-green {
  background-color: #007BCC;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
  height: 38px;
  transition: background-color 0.2s ease-in-out, transform 0.1s;

  &:hover {
    background-color: #F79335;
    transform: scale(1.03);
  }
}

/* Link de sair */
.logout-link {
  display: flex;
  align-items: center;
  color: #555;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 6px 12px;
  border-radius: 6px;
  transition: background-color 0.2s ease-in-out, color 0.2s;

  i {
    margin-right: 6px;
    font-size: 1rem;
  }

  &:hover {
    background-color: #f3f3f3;
    color: #000;
  }
}
