<div class="header-content">
  <div class="user-info">
    <button class="btn-home" [routerLink]="['/home']" title="Home">
      <i class="fa fa-home"></i>
    </button>

    {{ userName || 'Visitante' }}
  </div>

  <div class="actions">
    <button class="btn-green" *ngIf="isAdmin" [routerLink]="['/schools']">Gerenciar Escolas</button>
    <button class="btn-green" *ngIf="isAdmin">Gerenciar Usuários</button>
    <button class="btn-green" *ngIf="isAdmin">Criar Oficina</button>
    <a href="#" class="logout-link" (click)="logout()">
      <i class="fa fa-sign-out"></i> Sair
    </a>
  </div>
</div>
