<div class="table-container">
  <h2 class="table-title">{{ title }}</h2>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Código</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="users.length === 0">
          <td colspan="3" class="empty-row">Nenhum usuário encontrado</td>
        </tr>

        <tr *ngFor="let user of users" class="user-row">
          <td>{{ user.name }}</td>
          <td>{{ user.code }}</td>
          <td class="actions-cell">
            <div class="action-icons">
              <button class="icon-button settings" (click)="openSettings(user)" title="Configurações">
                <i class="fa fa-cog"></i>
              </button>
              <button class="icon-button delete" (click)="deleteUser(user)" title="Excluir">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
