.table-container {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);

  h2 {
    margin-bottom: 15px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      padding: 10px;
      text-align: left;
    }

    th {
      color: #46cc83;
      border-bottom: 2px solid black;
    }

    tr:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }
}