<div class="table-container">
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let school of schools" class="school-row">
          <td>{{ school.name }}</td>

          <div class="action-icons">
            <button class="icon-button settings" (click)="openSettings(school)" title="Configurações">
              <i class="fa fa-cog"></i>
            </button>
            <button class="icon-button delete" (click)="deleteSchool(school)" title="Excluir">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<app-alert-dialog [visivel]="alertVisivel" [titulo]="alertTitulo" [mensagem]="alertMensagem" [tipo]="alertTipo" (fechar)="alertVisivel = false">
</app-alert-dialog>

<app-confirm-dialog [visivel]="confirmVisivel" titulo="Excluir Escola" [mensagem]="'Deseja realmente excluir a escola ' + (schoolToDelete?.name || '') + '?'" (confirmar)="confirmarDelete()" (cancelar)="cancelarDelete()">
</app-confirm-dialog>